body{
  margin: 0;
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
  
}

*{
  margin: 0;
  padding: 0;
}

html{
  background-color:#141324;
  background-size: cover;
 
}
.home{
  position:relative;
}